# echo "# Facebook-login-page" >> README.md
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M main
# git remote add origin https://github.com/Ajith369369/Facebook-login-page.git
# git push -u origin main

/public/styles/fb_s1.css
/public/styles/fb_s2.css
fb.html